# Table of Contents
1. Import libraries
2. Clean data
3. Perform descriptive statistics on dataframe

## 1. Import libraries

In [224]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [226]:
path = r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Boat Sales Analysis'

In [228]:
df = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'boat_data1.csv'))

## 2. Clean Data
Find following:
* Duplicates
* Missing Values

In [231]:
df.head(5)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,2005,3.69,1.42,Aluminium,Switzerland,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany,58

In [233]:
df.shape

(9888, 10)

In [235]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [237]:
# Check for missing values
missing_values= df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [239]:
df_no_miss = df

In [241]:
# Handle missing values
df_no_miss['Width'] = df['Width'].fillna(df['Width'].mean())

In [243]:
df_clean = df_no_miss.dropna()

In [245]:
missing_values_1 = df_clean.isnull().sum()
print('Missing values per column:\n', missing_values_1)

Missing values per column:
 Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Location                       0
Number of views last 7 days    0
dtype: int64

In [247]:
df = df_clean

In [249]:
df.head(5)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,2005,3.69,1.42,Aluminium,Switzerland,124
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany,58
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,2005,4.03,1.56,Aluminium,Switzerland,132
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland,239

## 3. Perform descriptive statistics on dataframe

In [252]:
df.shape

(7034, 10)

In [254]:
df.info

<bound method DataFrame.info of          Price            Boat Type           Manufacturer  \
1     EUR 3490  Center console boat      Terhi power boats
2     CHF 3770           Sport Boat     Marine power boats
4     EUR 3399         Fishing Boat     Linder power boats
5     CHF 3650           Sport Boat     Linder power boats
10    CHF 3500         Fishing Boat      Terhi power boats
...        ...                  ...                    ...
9880  CHF 4980           Sport Boat     Linder power boats
9881  CHF 4950           Sport Boat     Marine power boats
9882  CHF 4950         Fishing Boat  Staempfli power boats
9885  EUR 4499           Sport Boat  BlueCraft power boats
9887  CHF 3780         Fishing Boat    DarekCo power boats

                              Type  Year Built  Length  Width       Material  \
1              new boat from stock        2020    4.00   1.50  Thermoplastic
2              new boat from stock        2005    3.69   1.42      Aluminium
4              new boat from stock        2019    3.55   1.46      Aluminium
5              new boat from stock        2005    4.03   1.56      Aluminium
10              Used boat,Electric        1987    4.35   1.75            GRP
...                            ...         ...     ...    ...            ...
9880           new boat from stock        2005    4.01   1.64      Aluminium
9881           new boat from stock        2005    3.99   1.52      Aluminium
9882            Used boat,Unleaded        1984    6.00   1.62        Plastic
9885  new boat from stock,Unleaded        2020    4.40   1.80            GRP
9887           new boat from stock        2019    3.60   1.60            GRP

         Location  Number of views last 7 days
1         Germany                           75
2     Switzerland                          124
4         Germany                           58
5     Switzerland                          132
10    Switzerland                          239
...           ...                          ...
9880  Switzerland                          247
9881  Switzerland                          150
9882  Switzerland                          288
9885      Germany                          354
9887  Switzerland                          194

[7034 rows x 10 columns]>

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7034 entries, 1 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        7034 non-null   object
 1   Boat Type                    7034 non-null   object
 2   Manufacturer                 7034 non-null   object
 3   Type                         7034 non-null   object
 4   Year Built                   7034 non-null   int64
 5   Length                       7034 non-null   float64
 6   Width                        7034 non-null   float64
 7   Material                     7034 non-null   object
 8   Location                     7034 non-null   object
 9   Number of views last 7 days  7034 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 604.5+ KB

In [258]:
# Define the columns to analyze
columns_to_analyze = ['Length', 'Width', 'Number of views last 7 days', 'Year Built']

# Calculate mean, median, and standard deviation for these columns
mean_values = df[columns_to_analyze].mean()
median_values = df[columns_to_analyze].median()
std_dev_values = df[columns_to_analyze].std()

# Print results
print("Mean values:\n", mean_values)
print("\nMedian values:\n", median_values)
print("\nStandard deviation:\n", std_dev_values)

Mean values:
 Length                           11.035699
Width                             3.433294
Number of views last 7 days     160.032556
Year Built                     2006.663492
dtype: float64

Median values:
 Length                            9.95
Width                             3.20
Number of views last 7 days     112.00
Year Built                     2008.00
dtype: float64

Standard deviation:
 Length                           5.140707
Width                            1.118578
Number of views last 7 days    167.098706
Year Built                      12.270069
dtype: float64

## Export Data

In [261]:
df.to_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'boat_data.csv'))